
server: 
   port: 8080
spring: 
   datasource: 
      url: jdbc:mysql://localhost:3306/ecomsom?allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true&useSSL=false
      username: root
      password: somallari01
      driver-class-name: com.mysql.cj.jdbc.Driver
   jpa: 
      show-sql: true
      defer-datasource-initialization: true
      properties: 
         hibernate: 
            dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      hibernate: 
         naming: 
            implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
            physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
         ddl-auto: update
   sql: 
      init: 
         mode: always
         data-locations: classpath:data.sql
         continue-on-error: true
   servlet: 
      multipart: 
         enabled: true
         file-size-threshold: 2KB
         max-file-size: 200MB
         max-request-size: 215MB
   http: 
      multipart: 
         enabled: true
         location: upload
file: 
   upload: 
      location: ..\\upload-dir
logging: 
   level: 
      com: 
         gabriel: 
            pricems: TRACE
